*{
     margin: 0;
     padding:0;
     box-sizing: border-box;
}
body{
    font-size: 16px;
    line-height:2;
}
.gap_above{
    height: 100px;
}
.gap_under{
    height: 240px;
}
.flex {
    display: flex;
    gap: 10px;
}
#section_1, 
#section_5{ 
    text-align: center;
    position: relative;
}
.title_content1{
    width: max-content;
    margin: 0 auto;
    color: #525252;
    background-color: #f1f1f1;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 24px;
}
.title_content2{
    font-style: italic;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.4;
}
.title_content2 span{
    margin: 0px 2px;
    padding: 1px 0px 2px;
    color: #ffca08;
    border-bottom: 4px solid;
}
#section_1 .gap_section_1{
    width: 100%;
    height: 81px;

}
#section_2 {
    margin-top: 40px;
    position: relative;
}
.svg-2, .svg-4 {
    position: relative;
    z-index: 1;
    height: 200px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
#section_2 img{
    position: absolute;
    width: 40%;
    left: 100px;
    z-index: 2;
}
#section_2 .gap_section_2{
    height: 200px;
    /* margin-top: -10px; */
    background-color: #1C1601;
}
#section_3{
    padding: 0px 132px 0px 132px;
    background-color: #1C1601;
    
}
#section_3 .toronto_section_3{
    display: flex;
    flex-direction: row;
}
#section_3 .content_right .toronto_map, .california_map,.newyork_map {
    width: 400px;
    height: 300px;
    margin-top: 20px;
}
#section_3 .content_left{
    padding-left: 10px;
    h3 {
        font-size: 38px;
        color: #ffffff;
        font-style: italic;
        padding-left: 40px;
        margin-bottom: 30px;
    }
    span {
        font-weight: 100;
        font-size: 20px;
        color: #666666;
    }
    p {
        color: #ffffff;
        padding-left: 40px;
        margin-bottom: 30px;
        text-align: justify;
    }

}
#section_3 .btn_locations{
    margin-left: 40px;
}

.btn_locations{
    color: #232222;
    background-color: #ffca08;
    border: 3px solid #ffca08;
    font-size: 18px;
    width: auto;
    border-radius: 30px;
    width: max-content;
    padding: 5px 35px;
    transition: all 0.3s ease-in-out;
}
.btn_locations:hover{
    color:#ffca08;
    background-color: #1C1601;
}
.gap_section_3{
    height: 100px;
    background-color: #1C1601;
}
.gap2_section_3{
    height: 130px;
    background-color: #1C1601;

}

/* section 4 */
#section_4{
    margin-top: -1px;
    position: relative;
}

.svg_4{
    transform: rotateX(180deg) rotateY(180deg);
}
#section_4 img {
    position: absolute;
    width: 40%;
    right: 100px;
    top: -82px;
    z-index: 1;
}
/* section 4 */

/* section 5 */
#section_5{
    padding: 20px;
}
.gap_section_5{
    height: 26px;
}
/* section 5 */

/* section 6 */
#section_6 {
    display: flex;
    justify-content: center;
}

#section_6 form {
    background-color: #1C1601;
    padding: 50px 50px 30px;
    margin-bottom: 60px;
    border-radius: 25px;
    box-shadow: 20px 20px 0px 0px #A7A7A740;
    width: max-content;
}

#section_6 label {
    font-size: 12px;
    color: #a0a0a0;
    margin-left: 12px;
}

#section_6 input,
textarea,
select {
    padding: 15px 25px;
    border-style: solid;
    border-radius: 25px;
    outline: none;
    margin-bottom: 10px;
    font-size: 14px;
    color: #595959;
    border: 1px solid #1c1601;
}

#section_6 textarea {
    resize: none;
}

#section_6 .btn_section6 {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.section-1 .title {
    line-height: normal;
}

.error {
    color: red;
    font-size: 12px;
    text-align: center;
    margin-top: 16px;
    opacity: 0;
}