::selection {
    background: #FFCA08;
    color: rgb(255, 255, 255);
}

/* car rental */
.rental {
    padding-top: 160px;
    margin-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.men-rolex {
    position: relative;
}

.men-rolex img {

    width: 380px;
    height: 460px;
    object-fit: cover;
    border: solid 10px #FFCA08;
    border-radius: 20px;
}

.word-men-rolex {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 230px;
    left: 180px;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.word-men-rolex p {
    font-size: 240%;
    font-weight: 300;
}

.word-men-rolex span {
    font-size: xx-large;
    font-weight: 700;
}

.word-rental {
    color: #666666;
    line-height: 150%;
    font-size: x-large;
}

.content-and-icon {
    padding-top: 8px;
}

/* poiner icon car */
.icon-and-content {
    display: flex;
    gap: 20px;
}

.icon-and-content i {
    color: #FFCA08;
    font-size: x-large;
    border: solid 3px black;
    padding: 8px;
    border-radius: 100%;
    background-color: black;
}

.icon-and-content p {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 120%;
}

.hover-car :hover {
    border: solid 3px #FFCA08;
    background-color: white;
    cursor: pointer;
}

.row-icon-content {
    display: flex;
    gap: 60px;
    padding-top: 50px;
}

.icon-colum {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* expert-stats */
.expert-stats {
    background-color: #1C1601;
    margin-top: -11px;
    text-align: center;
}

.word-same-buttom {
    display: inline-block;
    background-color: #F1F1F1;
    color: #52526A;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.5em;
}

.under-the-same {
    color: #F1F1F1;
    font-size: xxx-large;
    padding-top: 48px;
    font-weight: 500;
}

.under-the-same span {
    color: #FFCA08;
    border-bottom: 4px solid #FFCA08;
    padding-bottom: 3px;
}

.cardo {
    padding-top: 60px;
    padding-bottom: 60px;
    animation: example 2s;
    transition: transform 0.3s ease;
}

.data {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 80px;
}

.cardo p {
    font-size: 600%;
    color: white;
    font-weight: 200;
}

.cardo span {
    font-size: 150%;
    background-color: #F3BF07;
    font-weight: 500;
    border-radius: 30px;
    padding: 10px 20px;
}

.cardo:hover p {
    color: black;
    background-color: #F3BF07;
    border-radius: 20px;
}

.cardo:hover span {
    background-color: #F1F1F1;
}

.cardo:hover {
    transform: translateY(-10px);
}

@keyframes example {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*We-belive*/
.we-belive {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    gap: 52px;
    margin-bottom: 0px;
}

.content-in-we-belive {
    width: 50%;
}

.content-in-we-belive p {
    font-size: 350%;
    margin-bottom: 48px;
    font-weight: 450;
}

.content-in-we-belive span {
    color: #FFCA08;
    border-bottom: 4.5px solid #FFCA08;
}

/* Edit-button-content-buttom */
.tabs {
    display: flex;
    gap: 48px;
    border-bottom: 1px solid #b0b0cf;
}

.icon-title {
    display: flex;
    gap: 12px;
}

.tabs button {
    cursor: pointer;
    border-style: none;
    background-color: #FFFFFF;
    font-size: 140%;
    color: #464444;
    font-weight: 450;
    padding-bottom: 16px;

}

#content {
    margin-top: 44px;
    color: #666666;
    font-size: 130%;
    line-height: 32px;
}

.tabs button:hover {
    color: #5784BA;
}

.tabs button.active {
    color: #FFCA08;
    border-bottom: 3px solid #FFCA08;
    margin-bottom: -1px;
    font-size: 200%;
}

/* edit-picture-in-we-belive */
.picture-in-we-belive {
    width: 50%;
}

#picture img {
    width: 650px;
    height: 500px;
    object-fit: contain;
}

.button-picture {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.button-picture button {
    color: #aaa6a6;
    border-style: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

.button-picture button:hover {
    color: black;
}

.button-picture button.active {
    color: black;
}



/* choose us */
.choose-us {
    margin-top: -20px;
    background-color: #1c1601;
    display: flex;
    gap: 80px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    position: relative;
}

/* choose us picture */

.picture-choose-us img {
    /* position: relative; */
    width: 550px;
    height: 600px;
    border-radius: 20px;
    object-fit: cover;
}

.content-in-picture-choose-us {
    position: absolute;
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
    height: 950px;
    left: 200px;
}

.word-in-picture-choose-us {
    background-color: #1C1601;
    color: white;
    padding: 24px 80px;
    border-radius: 50px;
}

.word-in-picture-choose-us p {
    font-size: 150%;
    font-weight: 500;
}

.content-in-picture-choose-us i {
    color: black;
    position: absolute;
    background-color: #FFCA08;
    font-size: 300%;
    padding: 24px 30px;
    border-radius: 100%;
    left: -12%;
    cursor: pointer;
    border: 7px solid #9397a0;

}

.content-in-picture-choose-us i:hover {
    transform: scale(1.1);
}

/* choose us content */
.title-content-chosse-us {
    font-size: 300%;
    font-weight: 600;
    padding-top: 20px;
}

.title-content-chosse-us p {
    color: white;
}

.title-content-chosse-us span {
    color: #FFCA08;
    border-bottom: 4px solid #FFCA08;
}

.word-content-choose-us {
    padding-top: 52px;
    color: #687474;
    font-size: 130%;
    width: 100%;
    line-height: 40px;
}

/* data in choose us */
.data-choose-us {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
}

.data-son {
    border-bottom: 5px solid #52526A;
    padding-top: 40px;

}

.data-mama {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -5px;
    padding-bottom: 20px;
}

.data-son p {
    color: white;

}

.data-son span {
    color: #FFCA08;
    font-size: 120%;
    font-weight: 700;
}

.seventy {
    width: 77%;
    background-color: #FFCA08;
    height: 5px;
    margin-bottom: -5px;
}

.ninetytwo {
    width: 92%;
    background-color: #FFCA08;
    height: 5px;
    margin-bottom: -5px;
}

.eighttysix {
    width: 86%;
    background-color: #FFCA08;
    height: 5px;
    margin-bottom: -5px;
}

.ninetyone {
    width: 91%;
    background-color: #FFCA08;
    height: 5px;
    margin-bottom: -5px;
}

/* partners */
.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 300px;
}

.button-partners {
    padding: 16px 32px;
    background-color: #F1F1F1;
    border-radius: 50px;
    font-size: 150%;
    font-weight: 300;
    color: #525252;
}

.title-partners {
    font-size: 250%;
    font-weight: 700;
    padding-top: 32px;
    padding-bottom: 80px;
}

.title-partners span {
    color: #FFCA08;
    border-bottom: 3.5px solid #FFCA08;
}

.logo-partners {
    display: flex;
    gap: 48px;
    cursor: pointer;
}

.private-logo-partners {
    opacity: 0.35;
}

.private-logo-partners:hover {
    opacity: 1.0;
}
















/* reponsive */
/*mobile < 740px*/
@media only screen and (max-width: 46.1875em) {
    * {
        /* overflow-x: hidden; */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .rental {
        display: flex;
        flex-direction: column;
        padding-top: 24px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .men-rolex{
        overflow: hidden;
    }

    .men-rolex img {
        width: 100%;
        height: 250px;
        object-fit: cover;

    }

    .word-men-rolex {
        font-size: 70%;
        padding-bottom: 165px;
    }

    .word-rental{
        font-size: 130%;
        text-align: center;
    }
    .row-icon-content{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .hover-car{
        padding-right: 20px;
    }
    .word-same-buttom{
        margin-top: 16px;
        font-size: 120%;
    }
    .under-the-same{
        font-size: 150%;
        padding-bottom: 12px;
    }
    .under-the-same span{
        border-bottom: 2px solid #FFCA08;
    }
    .data{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-top: 32px;
    }
    .we-belive{
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .we-belive p{
        font-size: 200%;
        overflow-y: hidden;
        text-align: center
    }
    .content-in-we-belive{
        width: 100%;
    }
    .tabs{
        font-size: 80%;
        overflow-y: hidden;
        display: flex;
        gap: 24px;
    }
    .tabs button.active{
        font-size: 140%;
    }
    .picture-in-we-belive{
        width: 100%;
    }
    #picture img{
        width: 350px;
        height: 350px;
    }
    .button-picture{
        padding-top: 12px;
    }
    .choose-us{
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 32px;
        overflow: hidden;
    }
    .picture-choose-us img{
        width: 400px;
        height: 370px;
        object-fit: cover;
        position: relative;
    }
    .word-in-picture-choose-us{
        font-size: 100%;
        margin-top: -300px;
        font-size: 60%;
        padding: 12px 24px;
        margin-left: 12px;
    }
    .word-in-picture-choose-us p{
        font-size: 120%;
        padding-left: 20px;
        margin-left: 0px;
    }
    .word-in-picture-choose-us span{
        font-size: 120%;
        padding-left: 20px;
    }
    
    .content-in-picture-choose-us i{
        font-size: 140%;
        padding: 6px 8px 6px 8px;
        margin-top: -300px;
        margin-left:   24px;
    }
    .title-content-chosse-us p{
        font-size: 80%;
        padding-top: 12px;
        text-align: center;
        overflow-y: hidden;
    }
    .word-content-choose-us{
        text-align: center;
    }
    .data-choose-us {
        overflow-y: hidden; 
    }
    .button-partners{
        font-size: 120%;
    }
    .title-partners{
        font-size: 150%;
        overflow-y: hidden;
    }
    .logo-partners{
        display: flex;
        flex-direction: column;
        gap: 16px;

    }
    .partners{
        padding-bottom: 0px;
    }
    .footer{
        margin-top: 1000px;
    }
    .data-son{
        overflow-y: hidden;
     }
}

/*tablet 740px->1024px*/
@media only screen and (min-width: 740px) and (max-width: 1024px) {
    * {
        /* overflow-x: hidden; */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .rental{
        display: flex;
        flex-direction: column;
    }
    .men-rolex img{
        width: 100%;
        object-fit: cover;
    }
    .data{
        display: flex;
        gap: 8px;
        padding-top: 32px;
    }
    .we-belive{
        display: flex;
        flex-direction: column;

    }
    .content-in-we-belive{
        width: 100%;
    }
    .content-in-we-belive p{
        overflow-y: hidden;
    }
    .tabs{
        overflow-y: hidden;
        display: flex;
        gap: 40px;
        font-size: 140%;
    }
    .picture-in-we-belive{
        width: 800px;
    }
    #picture img{
        width: 700px;
        height: 500px;
    }
     .tab-picture{
        width: 700px;
     }
     .tab-picture img{
        width: 100%;
        height: 100%;
     }
     .choose-us{
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
     }
     .picture-choose-us {
        width: 800px;
        height: 800px;
        overflow-y: hidden;

     }
     .picture-choose-us img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow-y: hidden;
     }
     .content-in-picture-choose-us{
        padding-left: 80px;
        margin-top: 240px;
        margin-left: -32px;
        font-size: 150%;
     }
     .content-in-picture-choose-us i{
        margin-left: 80px;
        font-size: 220%;
        margin-left: 120px;
     }
     .content-in-picture-choose-us p{
        padding-left: 32px;
     }
     .content-in-picture-choose-us span{
        padding-left: 32px;
     }
     .title-content-chosse-us p{
        overflow-y: hidden;
     }
     .data-son{
        overflow-y: hidden;
     }
     .title-partners p{
        overflow-y: hidden;
     }
     .logo-partners{
        display: flex;
        flex-direction: column;
        gap: 40px;
     }
     .partners{
        padding-bottom: 120px;
     }
}