@media (max-width: 1300px) {
    * {
        /* overflow-x: hidden; */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .men-rolex img{
      height: 110%;
      object-fit: cover;
    }
    .rental p{
      font-size: 20px;
    }
    .data{
      font-size: 80%;
    }
    #picture img{
      width: 100%;
    }
   /* .content-in-we-belive{
      font-size: 80%;
   } */
   .picture-choose-us img{
      height: 100%;
   }
   .word-same-buttom{
      font-size: 24;
   }
   .partners{
      font-size: 90%;
   }
   .logo-partners{
      width: 100%;
      padding: 30px;
   }
   .logo-partners .private-logo-partners{
    width: 20% ;
   }
   .private-logo-partners img{
    width: 100%;
   }
}
@media (max-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .rental{
        display: flex;
        flex-direction: column;
        padding-top: 80px;
    }
    .rental p{
      font-size: 90%;
    }
    .men-rolex img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    .data{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        padding-top: 32px;
        padding:30px;
    }
    .we-belive{
        display: flex;
        flex-direction: column;

    }
    .content-in-we-belive{
        width: 100%;
    }
    .tabs{
        display: flex;
        justify-content: space-between;
        gap:0;
    }
    #picture{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .picture-in-we-belive{
        width: 100%;
    }
    .tab-picture{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #picture img{
        width:650px;
        height: 500px;
    }

     .tab-picture img{
        width: 100%;
        height: 100%;
     }
     .choose-us{
        display: flex;
        flex-direction: column;
     }
     .picture-choose-us {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

     }
     .picture-choose-us img{
        width: 100%;
        object-fit: cover;
     }
     .content-in-picture-choose-us{
        font-size: 150%;
     }
     .content-in-picture-choose-us i{
        font-size: 220%;
     }
     .content-in-picture-choose-us p{
        padding-left: 32px;
     }
     .content-in-picture-choose-us span{
        padding-left: 32px;
     }
   
     .partners{
        padding-bottom: 120px;
     }
   .partners{
      font-size: 80%;
   }
   .word-in-picture-choose-us{
    font-size: 90%;
    margin:0;
 }
 .wrap{
    padding: 20px 40px;
 }
 .cardo span{
    font-size: 16px;
 }
}
@media (max-width: 920px) {
    .choose-us{
        padding: 50px;
    }
.word-in-picture-choose-us{
   font-size: 70%;
}
.partners{
   font-size: 70%;
}
.rental {
    padding-top: 80px;
}
}
@media (max-width: 779px) {
   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  .rental {
      display: flex;
      flex-direction: column;
      padding-top: 60px;
      padding-left: 30px;
      padding-right: 30px;
  }
  .men-rolex{
      overflow: hidden;
  }
  .rental p{
      font-size: 80%;
  }

  .men-rolex img {
      width: 100%;
      height: 250px;
      object-fit: cover;

  }

  .word-men-rolex {
      font-size: 70%;
      padding-bottom: 165px;
  }

  .word-rental{
      font-size: 130%;
      text-align: center;
  }
  .row-icon-content{
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-content: center;
      justify-content: center;
      align-items: center;
  }
  .hover-car{
      padding-right: 20px;
  }
  .under-the-same{
      font-size: 32px;
      padding-bottom: 12px;
  }
  .under-the-same span{
      border-bottom: 2px solid #FFCA08;
  }
  .data{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      font-size: 70%;
  }
  .data .cardo{width: 100%;}
  .we-belive{
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding-left: 12px;
      padding-right: 12px;
  }
  .we-belive p{
      font-size: 200%;
      text-align: center
  }
  .content-in-we-belive p{
    font-size: 32px;
  }
  #picture img{
      width: 90%;
  }
  .button-picture{
      padding-top: 12px;
  }
  /* .choose-us{
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 32px;
      overflow: hidden;
  } */
  /* .picture-choose-us img{
      width: 80%;
      height: 80%;
      object-fit: cover;
      position: relative;
  } */
  .word-in-picture-choose-us{
      width: 90%;
  }
  .word-in-picture-choose-us p{
      font-size: 20px;
      padding-left: 20px;
      margin-left: 0px;
  }
  .word-in-picture-choose-us span{
      font-size: 20px;
      padding-left: 20px;
  }
  
  .content-in-picture-choose-us i{
      font-size: 120%;
  }
  .title-content-chosse-us p{
      font-size: 32px;
      padding-top: 12px;
      text-align: center;
  }
  .word-content-choose-us{
      text-align: center;
  }
  .button-partners{
      font-size: 22px;
  }
  .title-partners{
      font-size: 36px;
  }
  .partners{
      padding-bottom: 0px;
  }
  .footer{
      margin-top: 1000px;
  }
   .word-in-picture-choose-us{
      font-size: 60%;
   }
   .partners{
      font-size: 60%;
   }
   .partners{
      margin-bottom: 20%;
   }
   .content-in-we-belive{
    padding: 30px;
 }
 .word-same-buttom{
    font-size: 18px;
 }
}
@media (max-width: 700px) {
  #picture img{
    width: 100%;
  }
.partners{
   font-size: 50%;
}
.partners{
   margin-bottom: 30%;
}
.logo-partners{
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
 }
 .logo-partners .private-logo-partners{
  width: 100%;
 }
 .private-logo-partners img{
  width: 100%;
 }
}
@media (max-width: 520px) {
  .data{
   font-size: 50%;
  }
  #picture img{
    width: 100%;
    height: auto;
  }
  .under-the-same{
    font-size: 26px;
    padding-bottom: 12px;
}
.word-in-picture-choose-us{
   font-size: 50%;
}
.partners{
   font-size: 40%;
}
.cardo p {
    font-size: 40px;
}
.tabs button{
    font-size: 14px;
}
#content{
    font-size: 16px;
}
}
@media (max-width: 560px) {
    .logo-partners{
        gap:10px;
    }
    .wrap{
        padding: 10px 20px;
    }
    .wrap p{
        font-size: 16px;
    }
    .wrap span{
        font-size: 16px;
    }
    .wrap i{
        font-size: 12px;
        padding:20px;
    }
    .button-partners{
        font-size: 18px;
    }
    .title-partners{
        font-size: 32px;
    }
    .content-in-we-belive p{
        font-size: 26px;
      }
      .title-content-chosse-us p{
        font-size: 26px;
      }
      .word-content-choose-us p{
        font-size: 18px;
      }
      .cardo span {
        font-size: 12px;
      }
}
@media (max-width: 430px) {
    .logo-partners{
       padding: 10px;
       margin-bottom: 50px;
    }
    .button-partners{
        font-size: 16px;
        margin: 0 20px;
    }
    .title-partners{
        font-size: 26px;
        margin: 0 20px;
    }
    .content-in-picture-choose-us{
        width: 90%;
    }
    .wrap{
        padding: 10px;
    }
    .wrap i{
        font-size: 12px;
        padding:15px;
    }
    .wrap p{
        font-size: 12px;
    }
    .wrap span{
        font-size: 12px;
    }
    .word-in-picture-choose-us{
        width: 90%;
    }
  .data{
   font-size: 30%;
  }
.word-in-picture-choose-us{
   font-size: 40%;
}
.rental {
    padding-top: 40px;
}
.cardo p {
    font-size: 32px;
}
}