.gap{
    height: 100px;
}


/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.177);
    position: fixed;
    z-index: 9999;
    width: calc(100% - 200px);
    border-radius: 60px;
    margin: 30px 100px;
}

header ul {
    display: flex;
    gap: 30px;
}

header a {
    font-size: 16px;
    font-weight: 500;
    color: #D9D9D9;
}

.btn {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 40px;
    border-radius: 30px;
    border: 3px solid #FFCA08;
    background-color: #FFCA08;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0);
    color:#FFCA08
}
/* header */

/* section-1 */
.section-1{
    background-image: url('../../assets/images/home/background-1.jpg');
    height: calc(130vh);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.section-1 .content{
    position: absolute;
    top:30%;
    left:100px;
}
.section-1 .content .subtitle{
    font-size: 23px;
    font-weight: 700;
    color: #8e8e8e;
    margin-bottom: 20px;
}
.section-1 .content .title{
    font-size: 70px;
    font-weight: 900;
    color:#ffffff;
    margin-bottom: 60px;
}
.section-1 .content .title span:nth-child(2){
    color:#FFCA08;
}
.section-1 .item-row{
    display: flex;
    gap:20px;
    align-items: center;
}
.section-1 .item-row .play-video{
    width: 63px;
    height: 68px;
}
.section-1 .item-row .decs{
    font-size: 17px;
    color:#8e8e8e;
}
.svg-1{
    height: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.section-1 .car-1{
    width: 45%;
    position: absolute;
    right: 100px;
    bottom: 40px;
    z-index: 1;
}
.section-1 .text-blur{
    width: 681px;
    height: 281px;
    position: absolute;
    right: 0;
    bottom: 360px;
}
/* section-1 */

/* section-2 */
.section-2 {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.text-question{
    font-size: 24px;
    color: #525252;
    font-weight: 300;
    background-color:#F1F1F1 ;
    border-radius: 30px;
    padding:10px 20px;
    text-align: center;
    margin-bottom: 30px;
}
 .title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 60px;
}
.title span:nth-child(2){
    color:#FFCA08;
    border-bottom:4px solid #FFCA08;
}
.section-2 .container{
    display: flex;  
    gap:30px;
    width: calc(100% - 200px);
    position: relative;

}
.section-2 .container::after{
    content: "";
    width: calc(100% - 20px);
    height: 4px;
    background-color: #FFCA08;
    position: absolute;
    top:calc(40%);
    left: 10px;
    z-index: -1;
}
.section-2 .container .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.section-2 .container .img-person{
    width:calc(100%);
    border-radius: 50%;
    border: 10px solid #ffffff00;
    transition: all .3s ease-in-out;
}
.section-2 .container .img-person:hover{
    border: 10px solid #FFCA08;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.section-2 .container .img{
    position: relative;
}
.section-2 .container .icon{
    background-color: #FFCA08;
    display: flex;
    align-items: center;
    justify-content:center;
    position: absolute;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    bottom: -10%;
    left:calc((100% - 30%)/2);
}
.section-2 .container .icon img{
    width: 60%;
}
.section-2 .container p{
    font-size: 24px;
    font-weight: 700;
    margin-top: 60px;
}
/* section-2 */

/* section-3 */
.section-3{
    position: relative;
}
.svg-2{
    height: 200px;
}
.section-3 img{
    position: absolute;
    width: 40%;
    bottom:125px;
    left: 100px;
}
/* section-3 */

/* section-4 */
.section-4{
    padding:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#1c1601 ;
    margin-top: -10px;
    height: 100vh;
}
.section-4 .card-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:start;
}
.section-4 .card-1 .title span:nth-child(1)
{
    color:#ffffff;
}
.section-4 .card-1 .decs{
    font-size: 16px;
    color:#8e8e8e;
    margin-bottom: 40px;
}
.section-4 .card-2{
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
}
.section-4 .card-2 .card-item{
    width: 50%;
    border: 5px solid #FFCA08;
    border-radius: 20px;
    position: absolute;
    z-index: 2;
}
.section-4 .card-2 .card-item .title{
    background-color: #FFCA08;
    position: relative;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin: 0;
}
.section-4 .card-2 .card-item .title p{
    font-size: 22px;
    color:#1c1601;
    padding:20px 0;
}
.section-4 .content-row{
    display: flex;
    align-items: center;
    gap:20px; 
    padding:12px 0;
}
.section-4 .card-2 .card-item .content-row p{
    font-size: 16px;
    color:#ffffff;
    margin: 0;
}
.section-4 .card-2 .card-item i{
    color: #FFCA08;
    font-size: 22px;
    transition: all .1s ease;
}
.section-4 .card-2 .card-item i:hover{
    transform: scale(1.3);
}
.svg-3{
    position: absolute;
    height: 30px;
    bottom: -30px;
    left: 0;
}
.section-4 .item-content{
   padding:50px;
   background-color: #1c1601;
   border-radius: 0 0 10px 10px;
}
.section-4 .card-2 .card-item:nth-child(2) .title{
    background-color: #ffffff;
}
.section-4 .card-2 .card-item:nth-child(2)
{
    position: absolute;
    z-index: 1;
    left:47%;
    border: 5px solid #ffffff;
    width: 40%;
}
.section-4 .card-2 .card-item:nth-child(2) .item-content p{
    color:#F1F1F1;
    padding:10px;
}
/* section-4 */
